<div class="regcont">
  <img src="/assets/LOGO78.png" alt="LO GO">
  <p id="title">СУПЕР-OKO</p>
  <input type="text" class="reginput" placeholder="Testovoe Zadanie" value="Testovoe Zadanie">
  <br>
  <input type="text" class="reginput"  placeholder="Goncharov Mikhail" value="Goncharov Mikhail">
  <br>
  <button class="regbutton" routerLink="/main">SHOW ME</button>
  <div id="deadlinks">
    <p style="float: left;">Forgot password?</p>
    <p style="float: right;">Registration</p>
  </div>
</div>
