
<div class="popup" *ngIf="show">

    <div class="popup-win"
         [ngStyle]="{'top': curY + 'px', 'left': curX + 'px','z-index': curZIndex}">

        <div class="popup-header">{{specName}}</div>

        <div class="popup-content">
            <ng-content></ng-content>
        </div>

        <div class="popup-icons">
            <img src="/assets/popup_icons.png" style="opacity: 0.6;">
        </div>
        <img src="/assets/popup_mark.png" style="opacity: 0.5; margin-left: 60px;">
    </div>

    <div class="popup-overlay" [ngStyle]="{'z-index': curZIndex - 1}" (click)="disappear()">
    </div>
</div>  